.App {
  text-align: center;
  background: #ECECEC;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

.todo {
  display: flex;
  justify-content: center;
}

.todo-text {
  width: 50vw;
  text-align: left;
}

.btn {
  border:0;
  padding: 0;
  background: inherit;
  margin-right: 10px;
}
