.App {
  text-align: center;
  height: 100vh;
}

body {
  background: #ECECEC;
}

.App-link {
  color: #61dafb;
}

.todo {
  display: flex;
  justify-content: center;
}

.todo-text {
  width: 30vw;
  text-align: left;
}

.icon-btn {
  border:0;
  padding: 0;
  background: inherit;
  margin-right: 10px;
}

.icon-btn :active :focus :hover {
  box-shadow: 0;
  background-color: 'none';
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .todo-text {
    width: 55vw;
    height: auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .todo-text {
    width: 60vw;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .todo-text {
    width: 45vw;
  }
}

@media only screen and (max-width: 450px) {
  .todo-text {
    width: 90vw;
    height: auto;
  }
}
